header svg,
.catalog-item svg{
  fill: white;
  transition: .3s linear;
}

header button:hover svg,
.catalog-item button:hover svg{
  fill: var(--pink);
}

header button:focus svg,
.catalog-item button:focus svg{
  fill: var(--pink);
}

header button:active svg,
.catalog-item button:active svg{
  fill: red;
}

header a:hover svg{
  fill: var(--pink);
}

header a:focus svg{
  fill: var(--pink);
}

header a:active svg{
  fill: red;
}


