* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
button{
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

:root {
  --pink: #f16d7f;
}

html {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #222222;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header-container{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header-container-one{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 110px;
}

.header-container-two{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 170px;
}

.header-container-two{
  position: relative;
}

.header-external-meter{
  position: absolute;
  top: -15px;
  right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  background-color: var(--pink);
  border-radius: 50%;
  padding: 5px;
  width: 19px;
  height: 19px;
}

/* Catalog */
.catalog-container{
  margin-top: 60px;
}

.catalog-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item{
  position: relative;
  width: 360px;
  background-color: #f8f8f8;
  margin-bottom: 30px;
}

.catalog-item::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(58, 56, 56, 0.86);
  transition: .5s linear;
  opacity: 0;
}

.catalog-item:hover::before{
  opacity: 1;
}

.catalog-item-content{
  padding: 20px;
}

.catalog-item-title{
  font-size: 13px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.catalog-item-text{
  font-size: 14px;
  font-weight: 300;
  color: #5d5d5d;
  margin-bottom: 18px;
}

.catalog-item-price{
  font-size: 16px;
  color: var(--pink);
}

.catalog-btn{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
  border: 1px solid white;
  padding: 10px;
  opacity: 0;
  transition: .3s linear;
}

.catalog-btn span{
  margin-left: 10px;
}

.catalog-btn:hover{
  border-color: var(--pink);
  color: var(--pink);
}

.catalog-btn:focus{
  border-color: var(--pink);
  color: var(--pink);
}

.catalog-btn:active{
  border-color: red;
  color: red;
}

.catalog-item:hover .catalog-btn{
  opacity: 1;
}


